/* ======== information ======== */
.information {
  padding: 32px 16px 0;
}

.information-heading {
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 32px;
  margin: 0;
}

.information > .row > .columns:first-child .information-tile {
  border-top: 1px solid #cecece;
}

@media screen and (min-width: 40.063em) {
  .information > .row > .columns .information-tile {
    border-top: 1px solid #cecece;
  }
}

.information-tile {
  padding-top: 32px;
}

.information-tile-title {
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}

.information-tile-text {
  line-height: 1.5;
  color: #4a4a4a;
  font-size: 14px;
  margin-top: 16px;
}

.information-tile-more {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
  color: #920035;
}

/* ======== security ======== */
.security {
  margin-top: 32px;
  padding: 0 16px 32px;
}

.security-heading {
  font-size: 18px;
  font-weight: normal;
  padding-top: 32px;
  border-top: 1px solid #cecece;
  margin: 0;
}

@media screen and (min-width: 40.063em) {
  .security-heading {
    border: none;
  }
}

@media screen and (min-width: 1024px) {
  .security-heading {
    padding: 0 0 32px;
  }
}

.security-tile {
  position: relative;
  background: #fff6e2;
  padding: 16px;
  margin-top: 32px;
  display: block;
  text-decoration: none;
  color: #000;
}

@media screen and (min-width: 40.063em) {
  .security-tile {
    margin-top: 0;
    margin-bottom: 32px;
  }
}

.security-tile::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left-color: #fdc542;
    border-top-color: #fdc542;
}

.security-tile-title {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.security-tile-text {
  font-size: 14px;
  margin: 8px 0 0;
  color: #4a4a4a;
}
